<header class="header">
    <div class="container">
      <div class="header__contact">
           <div class="header__right">
               <span class="header__right__contact">
                   <img src="assets/images/icon/phone.svg" alt="">
                   +7 (495) 725 25 25
               </span>
               <span class="header__right__contact">
                   <img src="assets/images/icon/map.svg" alt="">
                    Ул Тверская, 17, офис 738
               </span>
            </div>
            <div class="header__left__contact">
                <div class="icon">
                   <a href="#">
                       <i class="fab fa-vk"></i>
                   </a>
                   <a href="#">
                       <i class="fab fa-instagram"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-youtube"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="#">
                        <i class="fas fa-envelope fab"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
